<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.muteti.efarm" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".Display"></activity>
        <activity android:name=".SignUp"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".PostAdvert"></activity>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name=".Category"
            android:label="Buyers Category">

        </activity>
        <activity
            android:theme="@android:style/Theme.Black"
            android:name=".county"
            android:supportsRtl="true"
            android:label="County">

        </activity>
        <activity android:name=".khoppcentre">

        </activity>
        <activity
            android:name=".Shoppcentre"
            android:label="Shopping Centre">

        </activity>
        <activity android:name=".Fambuy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name=".Payment"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Payment Mode">

        </activity>
        <activity android:name=".Vcode"
            android:label="Verification">

        </activity>
    </application>

</manifest>
